<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body ng-app="main">

<a class="btn btn-primary" ui-sref="home">
   Navigate to home<i class="fa fa-thumbs-o-up"></i>
</a>

<div ui-view></div>

</body>

</html>